[submodule "plugged/catppuccin"]
	path = plugged/catppuccin
	url = https://github.com/catppuccin/vim
[submodule "plugged/lightline.vim"]
	path = plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/vim-repeat"]
	path = plugged/vim-repeat
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/vim-surround"]
	path = plugged/vim-surround
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/vim-vinegar"]
	path = plugged/vim-vinegar
	url = https://github.com/tpope/vim-fugitive
